/* general styles */
html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: url('../img/background.jpg') left no-repeat;
    background-size: cover;
}

.container {
    background-color: rgba(230, 230, 250, 0.5);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(3px);
}

h1 {
    padding: 16px;
    align-self: stretch;
    text-align: center;
    background-color: #555581;
}

h1,
footer,
footer a {
    color: white;
}

footer {
    background-color: #555581;
    padding: 16px;
    align-self: stretch;
    text-align: center;
}

/* piano styles */
.piano {
    background-color: #c7c8d1;
    padding: 32px;
    border-radius: 8px;
    border: solid 2px #222222;
    box-shadow: 0 4px 16px rgba(61, 61, 61, 0.33);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;
}

.top-panel {
    display: flex;
    justify-content: space-between;
}

.brand,
h1 {
    margin: 0;
}

.speaker img {
    max-width: 150px;
    height: auto;
    border-radius: 4px;
}

.keys {
    display: flex;
    justify-content: flex-start;
}

.key {
    display: inline-block;
    margin: 0;
    border-radius: 0 0 8px 8px;
}

.white:first-of-type {
    border-left-width: 2px;
}

.white:last-of-type {
    border-right-width: 2px;
}

.white {
    width: 44px;
    height: 252px;
    background: linear-gradient(180deg, #bebebe 0%, #ffffff 5%, #ffffff 90%, #bebebe 100%);
    border: solid rgb(27, 27, 27);
    border-width: 2px 1px;
    box-shadow: 0px 12px 2px rgba(61, 61, 61, 0.33);
}

.white:hover {
    background: linear-gradient(180deg, #bebebe 0%, #dbdbdb 5%, #ffffff 90%, #bebebe 100%);
}

.white:active {
    background: linear-gradient(180deg, #ffffff 0%, #bebebe 5%, #bebebe 100%);
    box-shadow: 0px 4px 2px rgba(61, 61, 61, 0.33);
}

.black {
    width: 22px;
    height: 160px;
    background: linear-gradient(180deg, #000000 0%, #707070 80%, #000000 100%);
    position: relative;
    left: 32px;
    border: solid #1b1b1b 2px;
    box-shadow: 0px 9px 2px rgba(61, 61, 61, 0.33);
}

.black:hover {
    background: linear-gradient(180deg, #000000 0%, #474747 80%, #000000 100%);
}

.black:active {
    background: linear-gradient(180deg, #707070 0%, #000000 70%, #000000 100%);
    box-shadow: 0px 3px 2px rgba(61, 61, 61, 0.33);
}